[submodule "elisp-utils"]
	path = elisp-utils
	url = git@github.com:aristidb/elisp-utils.git
[submodule "solarized-emacs"]
	path = solarized-emacs
	url = https://github.com/bbatsov/solarized-emacs.git
[submodule "weechat.el"]
	path = weechat.el
	url = git@github.com:the-kenny/weechat.el.git
